.market-products .product_box .image-container {
  height: auto;
}

.market-products .product_box .image-container img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
}

.market-products .product_box .text {
  max-height: inherit;
}

