    /*
    Flaticon icon font: Flaticon
    Creation date: 26/02/2019 07:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-support:before { content: "\f100"; }
.flaticon-laptop:before { content: "\f101"; }
.flaticon-camera-1:before { content: "\f102"; }
.flaticon-shop-1:before { content: "\f103"; }
.flaticon-breakfast:before { content: "\f104"; }
.flaticon-fashion:before { content: "\f105"; }
.flaticon-makeup:before { content: "\f106"; }
.flaticon-drug-1:before { content: "\f107"; }
.flaticon-robot:before { content: "\f108"; }
.flaticon-robot-1:before { content: "\f109"; }
.flaticon-shop-3:before { content: "\f10a"; }
.flaticon-drug-3:before { content: "\f10b"; }
.flaticon-cafe-1:before { content: "\f10c"; }
.flaticon-break-1:before { content: "\f10d"; }
.flaticon-break-2:before { content: "\f10e"; }
.flaticon-kitchen:before { content: "\f10f"; }
    
    $font-Flaticon-support: "\f100";
    $font-Flaticon-laptop: "\f101";
    $font-Flaticon-camera-1: "\f102";
    $font-Flaticon-shop-1: "\f103";
    $font-Flaticon-breakfast: "\f104";
    $font-Flaticon-fashion: "\f105";
    $font-Flaticon-makeup: "\f106";
    $font-Flaticon-drug-1: "\f107";
    $font-Flaticon-robot: "\f108";
    $font-Flaticon-robot-1: "\f109";
    $font-Flaticon-shop-3: "\f10a";
    $font-Flaticon-drug-3: "\f10b";
    $font-Flaticon-cafe-1: "\f10c";
    $font-Flaticon-break-1: "\f10d";
    $font-Flaticon-break-2: "\f10e";
    $font-Flaticon-kitchen: "\f10f";