	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/02/2019 07:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-support:before { content: "\f100"; }
.flaticon-laptop:before { content: "\f101"; }
.flaticon-camera-1:before { content: "\f102"; }
.flaticon-shop-1:before { content: "\f103"; }
.flaticon-breakfast:before { content: "\f104"; }
.flaticon-fashion:before { content: "\f105"; }
.flaticon-makeup:before { content: "\f106"; }
.flaticon-drug-1:before { content: "\f107"; }
.flaticon-robot:before { content: "\f108"; }
.flaticon-robot-1:before { content: "\f109"; }
.flaticon-shop-3:before { content: "\f10a"; }
.flaticon-drug-3:before { content: "\f10b"; }
.flaticon-cafe-1:before { content: "\f10c"; }
.flaticon-break-1:before { content: "\f10d"; }
.flaticon-break-2:before { content: "\f10e"; }
.flaticon-kitchen:before { content: "\f10f"; }