.market-products{
    .product_box{
        .image-container {
            height: auto;
            img{
                max-width: 100%;
                height: auto;
                max-height: 150px;
            }
        }
        .text{
            max-height: inherit;
        }
    }
}